.home{
    
    #list{

        max-width: 440px;
        margin-top: 66px;
        .collection-item{
            background: #47494e;
            color: #fff;
            font-weight: bold;
        }
        .collection-item:hover{
            background: #fff;
            color: #47494e;
        }
        .fab{
            padding: 3px;
        }
        a{
            min-height: auto;
            color: #666;
            font-size: 24px;
            font-weight: bold;
            padding-top: 15px;
            padding-bottom: 15px;
            i{
                top: 5px;
                background: #000;
            }
        }
}
}


.collection, .section {
    padding: 0 !important;
    border-top: 1px solid #ddd;
  }